.clock {
    width: 190px;
    height: 140px;
    background-image: url("../img/clock_bg.png");
    overflow: hidden;
}

.timebox{
    position: relative;
    width: 90%;
    height: 50%;
    margin: auto;
    margin-top: 15%;
}
 .c_text{
	position: relative;
	margin-top: 15%;
	position: relative;
	height: 20px;
	text-align: center;
	width: 100%;
    height: 10%;
	font-size: 30px;
	color: white;
}

.timetext{
	text-align: center;
	color: white;
	font-size: 45px;
	font:Lato;
}
.timers{
	position: relative;
    overflow: hidden;
    top: 10px;
    left: 0px;
}

.tech_stuff{
	position: relative;
	overflow: hidden;
	top: 2000px;
}
.left{
	float: left;
}
.right{
	float:right;
	margin-left:10px;
}